{% extends 'layout.html' %}

{% block content %}
    <body class="page-template-default page page-id-5 wp-custom-logo theme-reptro tml-action tml-action-login woocommerce-no-js tribe-no-js xt-page-layout-grid xt-has-page-title xt-no-page-sidebar xt-site-layout-boxed xt-site-loading xt-page-layout-full-width elementor-default">


<div id="page" class="site">


		<a class="skip-link screen-reader-text" href="#content">Skip to content</a>


    {% include 'includes/navbar.html' %}<!-- #masthead -->


    <div class="xt-page-title-area">
        <div class="xt-page-title">
            <div class="container">
                <h1 class="entry-title">Welcome to Techcamp Live</h1>
            </div>
        </div>
        <div class="xt-breadcrumb-wrapper">
            <div class="container">
                <nav class="xt-breadcrumb">
                    <ul>
                        <li itemscope itemtype=""><a
                                href="" itemprop="url"><span
                                itemprop="title">Home</span></a></li>
                        <li class="current">Log In</li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>


    <div id="content" class="site-content">

        <div class="site-content-inner container">
            <div class="theme-main-content-inner row justify-content-center">
            <p style="font-size: 20px; width: 95%; margin: 50px auto;">Have you thought of learning programming without attending a physical class? Then here is a solution for you. <br><br> TechCamp Live is an Instructor Led Online training with 24/7 Lifetime support. We have a variety of courses in web development and android development that you can explore.</p>

                <div id="primary" class="content-area reptro-login-register-page-content-area col-lg-5 col-md-10">

                    <main id="main" class="site-main">



                        <article id="post-5" class="post-5 page type-page status-publish hentry">
                            <div class="entry-content">
                                <div class="tml tml-login">
                                    <form name="login" action="" method="post">

                                        <div class="tml-field-wrap tml-submit-wrap">
                                            <input name="submit" type="submit" value="Log In using Google" class="tml-button btn-lg btn-block">
                                        </div>

                                    </form>

                                </div>

                            </div><!-- .entry-content -->

                        </article><!-- #post-## -->

                    </main><!-- #main -->
                </div><!-- #primary -->


            </div>
        </div> <!-- site-content-inner -->
    </div><!-- #content -->

    {% include 'includes/footer.html' %}<!-- #colophon -->
	</div><!-- #page -->

{% endblock %}