<header id="masthead"
            class="site-header-type-default xt-header site-header navbar navbar-default xt-navbar xt-head-2">
{#        <div class="xt-header-top">#}
{#            <div class="container">#}
{#                <div class="row">#}
{#                    <div class="col-lg-8 col-md-8">#}
{#                        <div class="xt-pre-header-left-content">#}
{#                            <span class="xt-business-hour"><i class="sli-clock"></i>Mon - Fri : 09:00 - 17:00 </span>#}
{#                            <span class="xt-business-email"><i class="sli-paper-plane"></i><a#}
{#                                    href="mailto:hello@reptro.com">hello@reptro.com</a></span>#}
{#                            <span class="xt-business-phone"><i class="sli-phone"></i><a href="tel:+8801822062761">+(880) 182 206 2761</a></span>#}
{#                        </div>#}
{#                    </div>#}
{##}
{#                    <div class="col-lg-4 col-md-4">#}
{#                        <div class="header-social text-right">#}
{#                            <ul>#}
{#                                <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>#}
{#                                <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>#}
{#                                <li><a href="#" target="_blank"><i class="fa fa-google-plus"></i></a></li>#}
{#                                <li><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></li>#}
{#                                <li><a href="#" target="_blank"><i class="fa fa-youtube-play"></i></a></li>#}
{#                            </ul>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}

        <div class="xt-main-nav">
            <nav class="navbar nav-scroll xt-home-2 show-header-btn-1 header-btn-type-login_or_profile">
                <div class="container">
                    <div class="xt-main-navbar-inner">
                        <div class="xt-navbar-menu-and-logo">
                            <div class="xt-navbar-menu-and-logo-inner">
                                <div class="logo-wrapper" itemscope itemtype="http://schema.org/Brand">
                                    <a href="" class="custom-logo-link" rel="home" style="font-weight: bold;font-size: 25px;">
                                        Tech Camp Live</a>
                                </div>

                                <div class="xt-navbar-main-menu">
                                    <ul id="navbar-nav" class="nav-menu nav navbar-nav navbar-right">
                                        <li itemscope="itemscope"
                                            itemtype="" id="menu-item-370"
                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-has-children menu-item-370 dropdown">
                                            <a title="Home" href="{{ url_for('login') }}" class="dropdown-toggle"
                                               aria-haspopup="true">Home</a>

                                        </li>
                                        <li itemscope="itemscope"
                                            itemtype="" id="menu-item-5229"
                                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-5229 dropdown">
                                            <a title="Courses" href="{{ url_for('bootcamps') }}"
                                               class="dropdown-toggle" aria-haspopup="true">Bootcamps</a>
                                        </li>
                                        <li itemscope="itemscope"
                                            itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-5296"
                                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-5296 dropdown">
                                            <a title="Pages" href="#" class="dropdown-toggle" aria-haspopup="true">FAQ
                                                </a>
                                        </li>


                                        <li itemscope="itemscope"
                                            itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-5295"
                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5295">
                                            <a title="Contact" href="">Contact</a>
                                        </li>

                                        <li itemscope="itemscope"
                                            itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-5296"
                                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-5296 dropdown">
                                            <a title="Pages" href="{{ url_for('my_account') }}" class="dropdown-toggle" aria-haspopup="true">My Account
                                                </a>
                                        </li>

                                        <li class="reptro-off-canvas-trigger"><a href="#reptro-off-canvas-sidebar"
                                                                                 id="reptro-off-canvas-trigger-button"><i
                                                class="fa fa-bars"></i></a></li>
                                    </ul>
                                </div>

                            </div>
                        </div>

                        <div class="xt-navbar-side text-right">
                            <div class="reptro-header-profile-img">
                                <a class="btn btn-lg btn-fill" href="">Login</a>
                            </div>
                        </div>

                    </div>
                </div>
            </nav><!-- /.navbar -->
        </div>

        <!-- Mobile Menu-->
        <div class="reptro-mobile-menu menu-spacing nav-scroll xt-header-type-without_background" data-direction="">
            <div class="mobile-menu-area">
                <div class="logo-wrapper" itemscope itemtype="http://schema.org/Brand">
                    <a href="" class="custom-logo-link" style="font-size: 20px; font-weight: bold; border-top: 20px;" rel="home">
                        Tech Camp Live
                        </a>
                </div>

                <div class="mobile-menu clearfix">
                    <nav id="mobile-menu-active" class="mobile-menu-init">
{#                        <ul id="reptro_mobile_menu" class="main">#}
                        <ul id="reptro_mobile_menu" class="main">
                            <li itemscope="itemscope"
                                itemtype="" id="menu-item-370"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home menu-item-has-children menu-item-370 dropdown">
                                <a title="Home" href="" class="dropdown-toggle"
                                   aria-haspopup="true">Home</a>

                            </li>
                            <li itemscope="itemscope"
                                itemtype="" id="menu-item-5229"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-5229 dropdown">
                                <a title="Courses" href=""
                                   class="dropdown-toggle" aria-haspopup="true">Courses</a>
                            </li>
                            <li itemscope="itemscope"
                                itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-5296"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-5296 dropdown">
                                <a title="Pages" href="#" class="dropdown-toggle" aria-haspopup="true">FAQ
                                </a>

                            </li>

                            <li itemscope="itemscope"
                                itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-5295"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5295">
                                <a title="Contact" href="">Contact</a>
                            </li>
                            <li itemscope="itemscope"
                                itemtype="https://www.schema.org/SiteNavigationElement" id="menu-item-5295"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5295">
                                <a title="Contact" href="">My Account</a>
                            </li>
                            <li class="reptro-off-canvas-trigger">
                                <a href="#reptro-off-canvas-sidebar" id="reptro-off-canvas-trigger-button"><i class="fa fa-bars"></i></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>

        </div>

    </header>