/**
 * Default
 */

/* color */
.inner-content .entry-content .expand_collapse a:hover, .inner-content .entry-content #learndash_profile .inner-content .entry-content .expand_collapse a:hover,
.inner-content .entry-content .expand_collapse a:focus, .inner-content .entry-content #learndash_profile .inner-content .entry-content .expand_collapse a:focus,
.learndash .completed:after, #learndash_profile .completed:after,
.entry-content .tml-links li a:hover, .entry-content .tml-links li a:focus,
.c-offcanvas .js-offcanvas-close i,
a, a:focus, a:hover,
.header-slider .owl-nav > div:hover i,
ul.reptro_fancy_lists li .fa,
.color,
.has-theme-primary-color-color,
.mobile-menu-area .slicknav_nav .current-menu-item > a, .mobile-menu-area .slicknav_nav .current-menu-item > .slicknav_row a,
.section-title h2 span,
.header-contact ul li .fa,
.header-contact ul li a:hover,
.xt-service .xt-service-inner i,
.xt-featured-list .featured-list-inner ul li .fa,
.xt-our-service .each-inner .xt-service-inner-2 i,
.xt-our-service .each-inner .xt-service-inner-2 .figure-caption a,
.xt-skills .technical-skills .b_tooltip span,
.inner-content .entry-content a,
.entry-title a:hover,
.xt-contact-inner i,
.xt-footer .footer-nav ul li a:hover,
.xt-footer .footer-nav ul li a.active,
.xt-blog-category ul li a:hover,
.xt-blog-category ul li a span,
.xt-popular-post ul li .side-post-content a:hover,
.xt-blog-tag ul li a:hover,
.xt-blog .blog-full-post .tag-social .tag span,
.xt-blog .blog-full-post .tag-social .social span,
.xt-blog .blog-full-post .tag-social .social ul li a .fa:hover,
.xt-comments .comment .comment-content a,
.xt-footer-3 .footer-3-address ul li h6,
.xt-footer-3 .footer-3-address ul li a:hover,
.widget ul li a:hover,
.widget a:hover,
.xt-media-body .reply-link a,
.entry-footer i,
ul.xt-footer-menu li.current_page_item a,
.xt-footer .footer-nav ul li.current_page_item a,
.footer-widgets .widget ul li a:hover, 
.footer-widgets a:hover,
.slicknav_btn,
.xt_row_primary_bg_color_white .btn-border:hover, .xt_row_primary_bg_color_white .kc_button.btn-border:hover,
.woocommerce-MyAccount-navigation ul li a,
.woocommerce-MyAccount-navigation ul li.is-active a,
.xt-course-info li i,
.course-item-nav .prev a:hover, .course-item-nav .next a:hover,
.course-item-nav .prev a:focus, .course-item-nav .next a:focus,
.xt-header-one .reptro-header-btn .btn,
.xt-service-two-item i,
.reptro-event-details-side i,
.xt-blog .entry-meta span i,
.reptro-ctl-area .btn-border:hover, .reptro-ctl-area .btn-border:focus,
.theme-main-slide-buttons .btn-border:hover, .theme-main-slide-buttons .btn-border:focus,
.xt_row_primary_bg_color_white .reptro-ctl-area .btn-border:hover,
.xt-service-two-item a.xt-service-two-btn,
.xt_row_primary_bg_color_white .repto-button-fill.elementor-widget-button a.elementor-button, 
.xt_row_primary_bg_color_white .repto-button-fill.elementor-widget-button .elementor-button,
.xt_row_primary_bg_color_white .repto-button-border.elementor-widget-button a.elementor-button:hover .elementor-button-text, 
.xt_row_primary_bg_color_white .repto-button-border.elementor-widget-button .elementor-button:hover .elementor-button-text,
.xt_row_primary_bg_color_white .repto-button-border.elementor-widget-button a.elementor-button:focus .elementor-button-text, 
.xt_row_primary_bg_color_white .repto-button-border.elementor-widget-button .elementor-button:focus .elementor-button-text,
.kc_accordion_wrapper.xt_accordion_theme_primary .kc_accordion_header>span.ui-accordion-header-icon,
.reptro-call-to-action-btn, .reptro-call-to-action-btn:hover, .reptro-call-to-action-btn:focus,
.widget .reptro-call-to-action-btn, .widget .reptro-call-to-action-btn:hover, .widget .reptro-call-to-action-btn:focus,
.footer-widgets .reptro-call-to-action-btn, .footer-widgets .reptro-call-to-action-btn:hover, .footer-widgets .reptro-call-to-action-btn:focus,
#tribe-events-content .tribe-events-tooltip h4, #tribe_events_filters_wrapper .tribe_events_slider_val, .single-tribe_events a.tribe-events-gcal, .single-tribe_events a.tribe-events-ical {
  color: black;  
}

/* background color */
.widget_lp-widget-course-info .lp-widget .lp-course-info-fields .lp-course-info .lp-label,
.navbar-nav > li > .dropdown-menu li a:before,
.navbar-nav > li > a:before,
.xt-service .xt-service-inner:hover,
.btn-shuttr-hvr:before,
.btn.btn-fill,
.btn-border:hover,
.btn.btn-border:hover::after,
.btn.btn-border:focus::after,
.btn-base,
.color-bg,
.main-color-bg,
.xt-featured-member .item ul li a .fa,
.xt-skills .technical-skills .bar_group__bar.thick,
.xt-skills .technical-skills .bar_group .elastic,
.xt-footer .footer-social ul li a,
.xt-header-one.strict,
.mean-container .mean-nav ul li a.mean-expand,
.mean-container .mean-nav ul li a.mean-expand:hover,
.xt-footer-3 .xt-footer-info-3 ul li a .fa,
input[type=submit],
.comment-respond .form-submit input[type=submit],
.search-form input[type=submit],
.reptro_paignation ul.pager li>span,
.xt_theme_paignation ul.pager li>span,
.pager li.active a,
.kc_button.xt-theme-primary-btn:hover,
.pager li a:hover,
.reptro_paignation ul.pager li>a:hover,
.xt-head-2 .xt-header-top,
.xt-theme-primary-content-area,
.single-team .member-desc span:after,
.xt-header-type-boxed_background .slicknav_menu,
.slicknav_menu .slicknav_icon-bar,
.woocommerce span.onsale,
.xt-contact-call-to-action,
.woocommerce .widget_price_filter .ui-slider .ui-slider-range,
.xt_row_primary_bg_color_white,
.xt-back-to-top,
.xt-object,
body.woocommerce #respond input#submit:hover, body.woocommerce a.button:hover, body.woocommerce button.button:hover, body.woocommerce input.button:hover,
body.woocommerce #respond input#submit:focus, body.woocommerce a.button:focus, body.woocommerce button.button:focus, body.woocommerce input.button:focus,
.woocommerce nav.woocommerce-pagination ul li a:focus, .woocommerce nav.woocommerce-pagination ul li a:hover, .woocommerce nav.woocommerce-pagination ul li span.current,
.woocommerce div.product div.images .woocommerce-product-gallery__trigger,
.woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover,
.woocommerce .cart .button:hover, .woocommerce .cart input.button:hover,
.woocommerce-cart table.cart input:disabled[disabled]:hover,
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button:hover,
.woocommerce #payment #place_order:hover, .woocommerce-page #payment #place_order:hover,
.entry-content .woocommerce #respond input#submit:hover, .entry-content .woocommerce a.button:hover, .entry-content .woocommerce button.button:hover, .entry-content .woocommerce input.button:hover,
.entry-content .woocommerce #respond input#submit:focus, .entry-content .woocommerce a.button:focus, .entry-content .woocommerce button.button:focus, .entry-content .woocommerce input.button:focus,
.reptro-course-loop-sale,
#learn-press-user-profile #learn-press-profile-nav .tabs > li.active > a,
#learn-press-user-profile #learn-press-profile-nav .tabs > li.active > ul li.active > a,
#learn-press-user-profile #learn-press-profile-nav .tabs > li a:hover,
#learn-press-user-profile #learn-press-profile-nav .tabs > li:hover:not(.active) > a,
#learn-press-user-profile button,
.lp-course-buttons button,
.learn-press-form-login  button[type="submit"],
.learn-press-form-register button[type="submit"],
.lp-button.lp-button-guest-checkout,
#course-item-content-header .form-button.lp-button-back button,
form[name="search-course"] .search-course-button,
.lp-button.button,
.lp-quiz-buttons button,
.lp-course-buttons a.button,
.lp-course-buttons #learn-press-pmpro-notice.purchase-course a,
.pmpro_btn, .pmpro_btn:link, .pmpro_content_message a, .pmpro_content_message a:link,
body.confirm #popup_container #popup_panel button:hover, 
body.confirm #popup_container #popup_panel input[type="button"]:hover, 
body.confirm #popup_container #popup_panel input[type="submit"]:hover,
body.confirm #popup_container #popup_panel button:focus, 
body.confirm #popup_container #popup_panel input[type="button"]:focus, 
body.confirm #popup_container #popup_panel input[type="submit"]:focus,
body .learn-press-pagination .page-numbers > li span,
body .learn-press-pagination .page-numbers > li a:hover,
.woocommerce nav.woocommerce-pagination ul li a:hover, 
.woocommerce nav.woocommerce-pagination ul li span,
.xt-blog-post-slider.owl-theme .owl-dots .owl-dot.active span, .xt-blog-post-slider.owl-theme .owl-dots .owl-dot:hover span,
.xt-blog-post-slider.owl-theme .owl-nav > div,
.reptro-course-slider.owl-theme .owl-dots .owl-dot.active span, .reptro-course-slider.owl-theme .owl-dots .owl-dot:hover span,
.reptro-course-slider.owl-theme .owl-nav > div,
.reptro-course-category-slider.owl-theme .owl-dots .owl-dot.active span, .reptro-course-category-slider.owl-theme .owl-dots .owl-dot:hover span,
.reptro-course-category-slider.owl-theme .owl-nav > div,
body ul.learn-press-nav-tabs .course-nav.active:after, body ul.learn-press-nav-tabs .course-nav:hover:after,
body .course-curriculum ul.curriculum-sections .section-content .course-item:before,
body .learn-press-message:before,
.xt-navbar.xt-head-3 .xt-header-top,
#tribe-events .tribe-events-button, #tribe-events .tribe-events-button:hover, #tribe_events_filters_wrapper input[type=submit], .tribe-events-button, .tribe-events-button.tribe-active:hover, .tribe-events-button.tribe-inactive, .tribe-events-button:hover, .tribe-events-calendar td.tribe-events-present div[id*=tribe-events-daynum-], .tribe-events-calendar td.tribe-events-present div[id*=tribe-events-daynum-]>a,
#tribe-bar-form .tribe-bar-submit input[type=submit],
.portfolio-nav ul li.current span, .portfolio-nav ul li span:hover, .portfolio-nav ul li span:focus,
body .reptro-category-items li.active > span, body .reptro-category-items span:hover, body .reptro-category-items span:focus,
.reptro-hero-area-play-btn,
.reptro-cta-widget,
.widget_nav_menu li:before,
.widget_nav_menu li:after,
.widget_archive li:before,
.widget_archive li:after,
.widget_categories li:before,
.widget_categories li:after,
.widget_pages li:before,
.widget_pages li:after,
.widget_meta li:before,
.widget_meta li:after,
.widget_recent_comments li:before,
.widget_recent_comments li:after,
.widget_recent_entries li:before,
.widget_recent_entries li:after,
.widget_rss li:before,
.widget_rss li:after,
.product-categories li:before,
.product-categories li:after,
.widget_recent_comments #recentcomments li:after,
.widget_recent_entries li a:after,
.widget_rss > ul > li:after,
.woocommerce .woocommerce-widget-layered-nav-list li.woocommerce-widget-layered-nav-list__item:before,
.woocommerce .woocommerce-widget-layered-nav-list li.woocommerce-widget-layered-nav-list__item:after,
.xt-post-item .xt-post-item-categories,
.xt-blog .xt-post-date > span.xt-post-day-month,
.xt-blog .xt-post-cat a,
.xt_column_primary_bg_color .elementor-widget-wrap,
.reptro-ctl-area.reptro-ctl-default,
.xt_row_primary_bg_color_white .reptro-ctl-area .btn-border:hover,
.xt_row_primary_bg_color_white .reptro-ctl-area .btn-border:focus,
.repto-button-border.elementor-widget-button a.elementor-button:hover, 
.repto-button-border.elementor-widget-button .elementor-button:hover,
.repto-button-fill.elementor-widget-button a.elementor-button, 
.repto-button-fill.elementor-widget-button .elementor-button,
.reptro-section-title.section-title-type-border:after,
.section-title-small.section-title-small-border-yes:after,
.xt-blog .entry-meta:after,
.xt-blog .blog-inner .inner-content .post-info:after,
.repto-button-border.elementor-widget-button a.elementor-button::after, 
.repto-button-border.elementor-widget-button .elementor-button::after,
.xt-video.xt-video-popup-type-button_only .xt-video-popup-btn,
.header-slider .owl-theme .owl-dots .owl-dot.active span,
.header-slider .owl-theme .owl-dots .owl-dot:hover span,
table.lp-list-table thead tr th,
.widget-area .social-icons ul li a,
.has-theme-primary-color-background-color,
.btn-join, #btn-join, .learndash_checkout_buttons input.btn-join[type="button"],
#learndash_next_prev_link a,
#learndash_back_to_lesson a,
.wpProQuiz_button,
button, input[type="button"], input[type="reset"], input[type="submit"],
dd.course_progress div.course_progress_blue {
	background-color: #ffffff;
}

/* border color */
.btn-border.reptro_form:hover,
.btn-border.reptro_form,
.reptro_form.form-control:focus,
.btn-border,
.btn-fill,
.form-control:focus,
.title-hr,
.reptro-service-item .title-hr,
.repto-button-border.elementor-widget-button a.elementor-button, 
.repto-button-border.elementor-widget-button .elementor-button,
.xt-blog-form .btn,
.mean-container .mean-nav ul li,
.widget select:focus,
.widget_search input[type=search]:active, 
.widget_search input[type=search]:hover,
.widget_search input[type=search]:focus,
.comment-form input[type="text"]:focus, 
.comment-form input[type="url"]:focus, 
.comment-form input[type="email"]:focus, 
.comment-form textarea:focus,
input[type=password]:focus,
input[type=submit],
.search-form input[type=search]:focus,
.xt_theme_paignation ul.pager li>span,
.reptro_paignation ul.pager li>span,
.reptro_paignation ul.pager li>a:hover,
.pager li.active a,
.pager li a:hover,
.btn,
.single-team .member-thumb:before,
.footer-widgets input:focus,
.footer-widgets textarea:focus,
.widget-area input:focus,
.widget-area textarea:focus,
body.woocommerce #respond input#submit, body.woocommerce a.button, body.woocommerce button.button, body.woocommerce input.button,
.woocommerce .cart .button, .woocommerce .cart input.button,
.woocommerce-cart table.cart input:disabled[disabled],
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button,
.woocommerce #payment #place_order, .woocommerce-page #payment #place_order,
.woocommerce form .form-row input.input-text:focus, .woocommerce form .form-row textarea:focus,
.entry-content .woocommerce #respond input#submit, .entry-content .woocommerce a.button, .entry-content .woocommerce button.button, .entry-content .woocommerce input.button,
.navbar .navbar-nav .dropdown-menu,
body .lp-list-table thead tr th,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus,
select:focus,
.widget.widget_tag_cloud a:hover,
.widget.widget_product_tag_cloud a:hover,
body .learn-press-pagination .page-numbers > li span,
body .learn-press-pagination .page-numbers > li a:hover,
.woocommerce nav.woocommerce-pagination ul li a:hover, 
.woocommerce nav.woocommerce-pagination ul li span,
.header-contact-profile-menu img:hover,
.portfolio-nav ul li.current span, .portfolio-nav ul li span:hover, .portfolio-nav ul li span:focus,
.wp-block-quote:not(.is-large):not(.is-style-large),
.wp-block-quote.is-style-large,
button:focus, input[type="button"]:focus, input[type="reset"]:focus, input[type="submit"]:focus, button:active, input[type="button"]:active, input[type="reset"]:active, input[type="submit"]:active {
	border-color: #E91E63;
}
.xt-video .xt-video-overlay > a .video-popup-play-icon,
.xt_row_primary_bg_color_white .xt-video.xt-video-popup-type-button_only .xt-video-popup-btn .video-popup-play-icon {
	border-left-color: #E91E63;
}
.xt-blog-sticky-post {
	border-right-color: #E91E63;
}
.xt-skills .technical-skills .b_tooltip--tri,
.reptro-course-category-dropdown {
	border-top-color: #E91E63; 
}
body.woocommerce div.product .woocommerce-tabs ul.tabs li.active,
body .reptro-category-items li.active,
body .lp-tab-sections .section-tab.active span,
.reptro-course-item-inner {
	border-bottom-color: #E91E63;
}


/**
 * Dark
 */

.has-theme-primary-color-dark-color {
	color: #C2185B;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle,
.btn.btn-fill::before, 
.btn.btn-fill::after,
input[type=submit]:hover,
.comment-respond .form-submit input[type=submit]:hover,
.search-form input[type=submit]:hover,
#learn-press-user-profile button:hover, #learn-press-user-profile button:focus,
.lp-course-buttons button:hover, .lp-course-buttons button:focus,
form[name="search-course"] .search-course-button:hover, form[name="search-course"] .search-course-button:focus,
#course-item-content-header .form-button.lp-button-back button:hover, #course-item-content-header .form-button.lp-button-back button:focus,
.lp-button.button:hover, .lp-button.button:focus,
.lp-course-buttons a.button:hover, .lp-course-buttons a.button:focus,
.lp-course-buttons #learn-press-pmpro-notice.purchase-course a:hover, .lp-course-buttons #learn-press-pmpro-notice.purchase-course a:focus,
.lp-quiz-buttons button:hover, .lp-quiz-buttons button:focus,
.xt-blog-post-slider.owl-theme .owl-nav > div:hover,
.reptro-course-slider.owl-theme .owl-nav > div:hover,
.reptro-course-category-slider.owl-theme .owl-nav > div:hover,
.pmpro_btn:hover, .pmpro_content_message a:hover,
.xt-back-to-top:hover, .xt-back-to-top:focus,
.xt-featured-member .item ul li a .fa:hover, .xt-featured-member .item ul li a .fa:focus,
#tribe-events .tribe-events-button:hover, #tribe-events .tribe-events-button:focus, #tribe_events_filters_wrapper input[type=submit]:hover, .tribe-events-button:hover, .tribe-events-button.tribe-active:hover, .tribe-events-button.tribe-inactive, .tribe-events-button:hover, .tribe-events-calendar td.tribe-events-present div[id*=tribe-events-daynum-]:hover, .tribe-events-calendar td.tribe-events-present div[id*=tribe-events-daynum-]>a:hover,
#tribe-bar-form .tribe-bar-submit input[type=submit]:hover, #tribe-bar-form .tribe-bar-submit input[type=submit]:focus,
.reptro-events-items .reptro_loop_nine figure:hover .reptro-event-schedule, .reptro-events-items .reptro_loop_nine figure:focus .reptro-event-schedule,
.reptro-hero-area-play-btn:hover, .reptro-hero-area-play-btn:focus,
.xt-footer .footer-social ul li a:hover, .xt-footer .footer-social ul li a:focus,
.xt-blog .xt-grid-read-more-icon:hover, .xt-blog .xt-grid-read-more-icon:focus,
.repto-button-fill.elementor-widget-button a.elementor-button:hover, 
.repto-button-fill.elementor-widget-button .elementor-button:hover,
.xt_row_primary_bg_color_white .repto-button-fill.elementor-widget-button a.elementor-button:hover, 
.xt_row_primary_bg_color_white .repto-button-fill.elementor-widget-button .elementor-button:hover,
.learn-press-form-login  button[type="submit"]:hover, .learn-press-form-login  button[type="submit"]:focus,
.lp-button.lp-button-guest-checkout:hover, .lp-button.lp-button-guest-checkout:focus,
.learn-press-form-register button[type="submit"]:hover, .learn-press-form-register button[type="submit"]:focus,
.widget-area .widget .widget-contact-info .social-icons ul li a:hover, .widget-area .widget .widget-contact-info .social-icons ul li a:focus,
.has-theme-primary-color-dark-background-color,
.btn-join:hover, #btn-join:hover, .learndash_checkout_buttons input.btn-join[type="button"]:hover,
.wpProQuiz_button:hover,
button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover {
	background: #C2185B;
}

/* Border */

.xt-footer .footer-social ul li {
	border-color: #C2185B;
}


/**
 * Light
 */

.has-theme-primary-color-light-color {
	color: rgba(233, 30, 99, 0.9);
}

/* Background */

.xt-project-gallery .grid-item figure:hover figcaption,
.xt-project-gallery .grid-item figure:focus figcaption,
.xt-featured-member #quote-carousel .carousel-indicators .active span,
.has-theme-primary-color-light-background-color {
	background-color: rgba(233, 30, 99, 0.9);
}