<footer id="colophon" class="xt-footer site-footer">
            

            <div class="site-info">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-7 col-md-6">
                            <p>© 2020, All Rights Reserved.</p>
                        </div>
                        <!-- <div class="col-lg-5 col-md-6">
                            <div class="footer-social text-right">
                                <ul>
                                    <li><a href="#" target="_blank"><i
                                            class="fa fa-facebook"></i><span>Our Facebook</span></a>
                                    </li>
                                    <li><a href="#" target="_blank"><i
                                            class="fa fa-twitter"></i><span>Our Twitter</span></a></li>
                                </ul>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </footer>