<section class="dashboard_sidebar dn-1199">
    <div class="dashboard_sidebars">
        <div class="user_board">
            <div class="user_profile">
                <div class="media">
                      <div class="media-body">
                        <h4 class="mt-0">Start</h4>
                    </div>
                </div>
            </div>
            <div class="dashbord_nav_list">
                <ul>
                    <li><a href="{{ url_for('account') }}"><span class="flaticon-puzzle-1"></span> My Account</a></li>
                    <li class="active"><a href="{{ url_for('all_bootcamps') }}"><span class="flaticon-online-learning"></span>My Bootcamps</a></li>
                    <li><a href="{{ url_for('my_payments') }}"><span class="flaticon-shopping-bag-1"></span> My Payments</a></li>
                    <li><a href="{{ url_for('all_bootcamps') }}"><span class="flaticon-speech-bubble"></span> FAQs</a></li>
                    <li><a href="{{ url_for('contact_us') }}"><span class="flaticon-speech-bubble"></span> Contact Us</a></li>
                </ul>
                <h4>Account</h4>
                <ul>
                    <li><a href=""><span class="flaticon-settings"></span> Settings</a></li>
                    <li><a href=""><span class="flaticon-logout"></span> Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>