{% extends 'layout.html' %}


{%block content%}
<div class="our-dashbord dashbord">
    <div class="dashboard_main_content">
        <div class="container-fluid">
            <div class="main_content_container">
                <div class="row">
                    <div class="col-lg-12">

                        {% include 'includes/dashboard-nav.html' %}

                    </div>
                    <div class="col-lg-12">
                        <nav class="breadcrumb_widgets" aria-label="breadcrumb mb30">
                            <h4 class="title float-left">My Payments</h4>
                            <ol class="breadcrumb float-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">My Payments</li>
                            </ol>
                        </nav>
                    </div>



                </div>
                
            </div>
        </div>
    </div>
</div>

{% endblock %}